<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>About DomoMaker</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
   <nav><a href="/login"></a><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>

  <section id="about-content">
    <h1>About Domo Maker</h1>
    <p>
        Domo maker is a demonstration application built on Node.js, Express, Mongoose, and React.
        It allows authenticated users to Create, Read, and Update Domo entities. It's purpose is to 
        build a small MVC-based login system with some basic per-user functionality.
    </p>
    <img id="domoPicture" src="/assets/img/face.png" alt="domo picture"/>
  </section>
</body>
</html>

